# Introduction to Julia

In [2]:
println("Hello")

Hello

In [12]:
#Multi line comment in julia use #= =# as below
#=Note that unlike python, in Julia single quotes are used to represent Char while "" are used to represent strings"
=#
#typeof("g")
typeof('a')

Char

In [15]:
#inputing variables in a string; use $ 
name="Kelvin"
Age=26
println("My name is $name and i am $Age years old!!")

My name is Kelvin and i am 26 years old!!

In [16]:
#You can concatinate strings using * or using the string()

In [19]:
string("I want to learn"," ",22," ","and learn fast")

"I want to learn 22 and learn fast"

In [23]:
last_name="Kahuro"
name*" "*last_name

"Kelvin Kahuro"

# Data Structures

In [26]:
#Using Dictionaries

In [27]:
Phonebook=Dict("Kelvin"=> "0706444538","Ruth"=> "0715461465","Tony"=>"0707491828")

Dict{String,String} with 3 entries:
  "Kelvin" => "0706444538"
  "Ruth"   => "0715461465"
  "Tony"   => "0707491828"

In [28]:
#adding an item to the dict
Phonebook["Winny"]="0725088340"

"0725088340"

In [29]:
Phonebook

Dict{String,String} with 4 entries:
  "Kelvin" => "0706444538"
  "Ruth"   => "0715461465"
  "Tony"   => "0707491828"
  "Winny"  => "0725088340"

In [33]:
#removing an item from a dict; this returns the value of the key deleted
pop!(Phonebook,"Tony")

"0707491828"

In [34]:
Phonebook

Dict{String,String} with 3 entries:
  "Kelvin" => "0706444538"
  "Ruth"   => "0715461465"
  "Winny"  => "0725088340"

In [37]:
#printing the values of a dict
Numbers=[]
for i,j in enumerate(Phonebook)
    Numbers(j)=j
end

LoadError: syntax: invalid iteration specification

In [43]:
for i in 1:13
    if i % 2 !=0
        println(i)
    end
end

1
3
5
7
9
11
13

In [83]:
#I digress
function rowsumoddnumbers(n)
  r=n-1
  summ=0
  j=((n+1)*n)/2
  for i in (r^2+r+1):(2j-1)
    if i%2 !=0
      summ +=i
    end
  end
  return summ
end

rowsumoddnumbers (generic function with 1 method)

In [84]:
rowsumoddnumbers(42)

74088.0

In [85]:
#Tuples are pretty much similar to tuples in python

In [86]:
#arrays, use pop to remove last elements of an array and push to add elements

In [91]:
Towns=["Nairobi","Kansas","Eldoret"]

3-element Array{String,1}:
 "Nairobi"
 "Kansas"
 "Eldoret"

In [92]:
#removing Nairobi from the array: it returns the element removed
pop!(Towns)

"Eldoret"

In [93]:
Towns

2-element Array{String,1}:
 "Nairobi"
 "Kansas"

In [94]:
push!(Towns,"Mombasa","Lamu")

4-element Array{String,1}:
 "Nairobi"
 "Kansas"
 "Mombasa"
 "Lamu"

In [103]:
Towns[2]

"Kansas"

In [107]:
x=3:0.1:6

3.0:0.1:6.0

In [108]:
function f(a)
    a^2
end

f (generic function with 1 method)

In [109]:
#using the dot notation on the function call is broadcasting
y=f.(x)

31-element Array{Float64,1}:
  9.0
  9.610000000000001
 10.240000000000002
 10.889999999999999
 11.559999999999999
 12.25
 12.96
 13.690000000000001
 14.44
 15.209999999999999
 16.0
 16.81
 17.64
  ⋮
 24.010000000000005
 25.0
 26.009999999999998
 27.040000000000003
 28.09
 29.160000000000004
 30.25
 31.359999999999996
 32.49
 33.64
 34.81
 36.0

In [127]:
a="Good Morning"

"Good Morning"

In [144]:
a_array=split(a,"")

12-element Array{SubString{String},1}:
 "G"
 "o"
 "o"
 "d"
 " "
 "M"
 "o"
 "r"
 "n"
 "i"
 "n"
 "g"

In [145]:
uppercasefirst("bad teacher")

"Bad teacher"

In [146]:
typeof(b)

String

In [148]:
function tojadencase(str)
  return join([uppercasefirst(x) for x in split(str)], " ")
end

tojadencase (generic function with 1 method)